# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*   List popular languages for Data Science
*   List common libraries for Data Science
*   Other Useful Environments

## Some of the popular languages that Data Scientists use are:

1. Python
2. R

## Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Plotly

## Data Science Tools

| Data Science Tools | 
|:--------:|
|  Jupyter Notebook   |  
|  R Studio   |  
|  Github   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
print(3*4+5)

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [7]:
print("200 mins =",200/60,"hours")

200 mins = 3.3333333333333335 hours

## Author
Si